<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Inhouse part Form</h1>

<form action="#" id="partForm" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST"}>
    <p><input type="hidden" th:field="*{id}"/></p>
    <p> Name <input type="text" id = "name" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>
    <p>Price<input type="text" id = "price" path="price" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
    <p> Inventory <input type="text" id = "inventory" path="inv" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p> Min <input type="text" id = "min" th:field="*{minimum}" placeholder="Min" class="form-control mb-4 col-4"/></p>
    <p> Max <input type="text" id = "max" th:field="*{maximum}" placeholder="Max" class="form-control mb-4 col-4"/></p>

    <p><input type="submit" value="Submit" id = "submit" onclick="validate()" /></p>
</form>

<script>
    document.getElementById('partForm').addEventListener('submit', function(event) {
       let name = document.getElementById('name').value;
       let inv = parseInt(document.getElementById('inventory').value);
       let min = parseInt(document.getElementById('min').value);
       let max = parseInt(document.getElementById('max').value);
       let price = document.getElementById('price').value;

       if (!name || isNaN(inv) || isNaN(min) || isNaN(price) || isNaN(max)) {
           alert('All fields should be filled out correctly.');
           event.preventDefault(); // Prevent form submission
           return;
       }

       if (min > max) {
           alert("Min cannot be greater than Max.");
           event.preventDefault();
           return; // Stop further execution
       }

       if (inv < min || inv > max) {
           alert("Inventory must be between Min and Max.");
           event.preventDefault();
           return;
       }
   });
</script>

</body>
</html>